.second{
    width: 100%;
    transform: scale(0.8);
    animation: popUp 1s ease-out forwards;
}
@keyframes popUp {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}